<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Despliegue en RENDER</title>
</head>
<body>
  <h1>Felicitaciones has desplegado correctamente tu aplicativo en render.com</h1>
  <h2>Harol Mauricio Gómez Zapata</h2>
  <form action="{% url 'insertar_u' %}" method="post">
    {% csrf_token %}
    <input type="text" name="correo" placeholder="CORREO" required><br>
    <input type="password" name="clave" placeholder="CONTRASEÑA" required><br>
    <input type="submit" value="AGREGAR USUARIO">
  </form> 
</body>
</html>